{% extends "base.html" %} {% block body_class %}home-page{% endblock %} {% block
content %}

<div class="container">
  <p>
    Welcome to GuessThe.Game Database (aka. GTGDB). This website is dedicated to
    the hard working Year 12 SE students of 2024-2025. The last 5 minutes of
    class are always a flurry of excitement and hard work. They open
    <a href="https://guessthe.game/">GuessThe.Game</a> and scream their
    suggestions at the host. Let's start tracking their progress.
  </p>

  {% if session['username'] %}
  <br />
  <p>Hello {{ session['username'] }}</p>
  <a href="/add"><button>Add guess</button></a>
  {% endif %}
</div>

<br />

<table class="guess-table">
  <thead>
    <th>Date</th>
    <th>User who guessed</th>
    <th>Game</th>
    <th>Score</th>
  </thead>

  <tbody>
    {% for guess in guesses %}
    <tr class="row-wrapper">
      <td class="date-cell" data-original="{{ guess['date'] }}">
        {{ guess['date'] }}
      </td>
      <td>{{ guess['username'] }}</td>
      <td>{{ guess['game'] }}</td>
      <td>{{ guess['score'] }}</td>

      {% if session['username'] == guess['username'] %}
      <td class="row-actions">
        <a href="/update/{{guess.id}}" class="action-button update-button">
          Update
        </a>
        <form action="/delete" method="POST" style="display: inline">
          <input type="hidden" name="id" value="{{ guess['id'] }}" />
          <button class="action-button delete-button" type="submit">
            Delete
          </button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
